body {
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;  
  background-color: #FAFAFA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.container {
  display: grid;
}

.end {
  justify-self: end;
}

.center {
  justify-self: center;
}
.navBarWrapper {
  display: grid;
  padding: 2%;
  grid-auto-flow: column;
  column-gap: 1em;
}

 .navBarWrapper div:hover {
    color: green;
  }
.pointer {
  cursor: pointer;
}